body {
  background-color: #FFB775;
  text-align: center;
}

h1 { 
  color: #FFB775;
  background-color: black;
  font-family: "Merriweather";
  font-size: 100px;
  text-align: center;
}

ul { 
  color: black;
  font-family:"Times New Roman";
}
